<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--style 에서 !important 를 쓰게 되면 나중에 설정한 값이 적용되지 않게 하려면 속성값 뒤에 해당 코드를 적어 영향력있는 속성 즉, 우선권을 가지는 속성이 되어 후에 설정이 된 속성값이 아닌 현재의 속성 값을 나타내게 만든다-->
</head>
<body>

<h1>JOIN PAGE</h1>
<form name="joinForm" action="/join" method="post" onsubmit="return false">
    USERNAME : <input name="username" /> <br/>
    PASSWORD : <input name="password" type="password" /> <br/>
    <button onclick="isValid()">가입요청</button><!--스크립트와 연결-->
</form>
<!--데이터 유효성 체크 첫번째 if 문은 비어있을 경우에 나타내는 용  form.submit();을 전달-->
<script>
    const form = document.joinForm;
    const isValid=()=>{
        if(form.username.value.trim()==""){
            alert("USERNAME은 반드시 입력해야 합니다");
            return;
        } else if(form.password.value.trim()==""){
            alert("PASSWORD는 반드시 입력해야 합니다");
            return;
        }
        form.submit();
    }
</script>

</body>
</html>