<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>JOIN PAGE</h1>
<form name="joinForm" action="/join" method="post" onsubmit="return false">
    USERNAME : <input name="username" /> <br/>
    PASSWORD : <input name="password" type="password" /> <br/>
    <button onclick="isValid()">가입요청</button><!--스크립트와 연결-->
</form>
<!--데이터 유효성 체크 첫번째 if 문은 비어있을 경우에 나타내는 용  form.submit();을 전달-->
<script>
    const form = document.joinForm;
    const isValid=()=>{
        if(form.username.value.trim()==""){
            alert("USERNAME은 반드시 입력해야 합니다");
            return;
        } else if(form.password.value.trim()==""){
            alert("PASSWORD는 반드시 입력해야 합니다");
            return;
        }
        form.submit();
    }
</script>

</body>
</html>